*{
    margin: 0;
    padding: 0;

}

body{
    text-align: center;
}

#nav{
    background-color: rgb(247, 169, 118);
    height: 6rem;

}

#mode{
    border-radius: 1rem;
    width: 3rem;
    height: 3rem;
}

.score{
    display: flex;
    gap: 2rem;
   justify-content: center;
}
p{
    font-size: 2rem;
    font-family:sans-serif;
    margin-top: 3rem;
}

img:hover{
    opacity: 0.8;
    cursor: pointer;
    
}

.choices{
    display: flex;
    justify-content: center;
}

.pic{
    margin-top: 20px;
    background-color: black;
    height: 300px;
    border-radius: 50px;
}

.user_score,.cpu_score{
    font-size: 4rem;
    margin-top: 1rem;
}